* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.125rem;
  color: hsl(0, 0%, 50%);
}

body {
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
  box-shadow: 10px 10px 0px 0px black;
  border: 1px solid black;
}

.container img {
  border-radius: 10px;
}

.container-conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-conteudo span {
  background-color: hsl(47, 88%, 63%);
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
  align-self: flex-start;
  font-weight: 800;
}

.container-conteudo h5 {
  font-weight: 500;
  font-size: 0.875rem;
}

.autor {
  display: flex;
  gap: 20px;
  align-items: center;
}

.autor img {
  width: 30px;
}

.autor p {
  color: hsl(0, 0%, 7%);
  font-size: 0.875rem;
  font-weight: 800;
}
